
/* height issue */
#root {
    height: calc(100% - 4rem) !important;
    width: 100%;
    padding: 2rem;
    text-align: center;
    flex-direction: row;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.sidebar {
    width: 300px;
    padding: 16px;
    background: #f5f5f5;
    border-right: 1px solid #ddd;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
